$padding:1em;
$icon-size:50px;

* {
  padding: 0;
  margin: 0;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

.weather {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

div.weather [data-theme = 'day'],
.weather{
  background: linear-gradient(360deg, #3594BF 0%, rgba(255, 255, 255, 0) 100%), #53A6CB;
}
div.weather [data-theme = 'night'] weather {
  background: linear-gradient(360deg, #55707E 0%, rgba(255, 255, 255, 0) 100%), #042232;
}

.current {
  text-align: center;
  &_city {
    font-size: 3em;
    font-weight: 400;
    line-height: 82px;
  }
  &_description {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 27px;
  }
  &_temperature {
    font-size: 3em;
    font-weight: 400;
    padding-bottom: $padding;
  }
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin: 0 $padding*4;
  &_item {
    font-size: 1em;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    padding: 0 $padding;
  }
  &_icon {
    width: $icon-size;
    height: $icon-size;
  }
  &_time {
    padding-bottom: $padding;
  }
  &_temperature {
    padding-top: $padding;
  }
}

.details {
  font-size: 1em;
  padding-top: $padding*4;
  margin: 0 $padding*5;
  &_row {
    display: flex;
    justify-content: space-between;
    padding-bottom: $padding*3;
  }
  &_item {
    flex: 1;
  }
  &_name {
    margin-bottom: $padding;
  }
}

.icon_01d,
.icon_01n,
.icon_02d,
.icon_02n,
.icon_03d,
.icon_03n,
.icon_04d,
.icon_04n,
.icon_09d,
.icon_09n,
.icon_10d,
.icon_10n,
.icon_11n,
.icon_11n,
.icon_13d,
.icon_13n,
.icon_50d,
.icon_50n {
  background-size: $icon-size;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.icon_01d,
.icon_01n {
  background-image: url("../styles/icons/01d.png");
}

.icon_02d,
.icon_02n {
  background-image: url("../styles/icons/02d.png");
}

.icon_03d,
.icon_03n {
  background-image: url("../styles/icons/03d.png");
}

.icon_04d,
.icon_04n {
  background-image: url("../styles/icons/04d.png");
}

.icon_09d,
.icon_09n {
  background-image: url("../styles/icons/09d.png");
}

.icon_10d,
.icon_10n {
  background-image: url("../styles/icons/10d.png");
}

.icon_11n,
.icon_11n {
  background-image: url("../styles/icons/11d.png");
}

.icon_13d,
.icon_13n {
  background-image: url("../styles/icons/13d.png");
}

.icon_50d,
.icon_50n {
  background-image: url("../styles/icons/50d.png");
}
